/EMSystem/nbproject/private/
/EMSystem Project/nbproject/private/
/EMSystem Project/build/
EMSystem Project/src/TestJFrame.form
EMSystem Project/src/TestJFrame.java
EMSystem Project/settings.cfg
EMSystem Project/ASDF.txt
EMSystem Project/src/Test.java
EMSystem Project/settings.cfg
EMSystem Project/settings.cfg
EMSystem Project/settings.cfg
EMSystem Project/settings.cfg
/EMSystem Project/dist/